{% extends "base.html" %}
{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Выберай ракетку</h1>
    <p class="fs-5 text-body-secondary">Ваша задача, это разными способами обмануть эту грьобаную ракутку!</p>
  </div>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Обычная,фу</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/мес</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 % скорости</li>
            <li>20 мощность </li>
            <li>Поддержка по электронной почте</li>
            <li>Доступ к центру помощи</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Зарегистрироваться бесплатно</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Средняя</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/мес</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>20 % скорости</li>
            <li>35 мощность</li>
            <li>Приоритетная поддержка</li>
            <li>Доступ к центру помощи</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Начать</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-normal">Расширенная</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/мес</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>50 % скорости</li>
            <li>55 мощность</li>
            <li>Телефонная и электронная поддержка</li>
            <li>Доступ к центру помощи</li>
          </ul>
          <buфtton type="button" class="w-100 btn btn-lg btn-primary" href="/create-article" >Связаться с нами</buфtton>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
