

{% extends "base.html" %}


{% block title %}
Все статьи
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="mb-4">Все статьи</h2>

    {% if articles | length > 0 %}

        <div class="row">
            {% for el in articles %}
            <div class="col-md-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ el.title }}</h5>
                        <p class="card-text">{{ el.intro }}</p>
                        <p class="text-muted"><strong>Дата:</strong> {% if el.date %}{{ el.date.strftime('%Y-%m-%d %H:%M:%S') }}{% else %}Дата не указана{% endif %}</p>
                        <a href="/posts/{{ el.id }}"class="btn btn-warning">Детальнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
    <p>У нас ещё нету статей на сайте<p>
    {% endif %}
</div>
{% endblock %}
