
{% extends "base.html" %}

{% block title %}
Обновление статьи
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="border p-4 rounded" style="background-color: #1e1e1e; color: white; max-width: 600px; margin: 0 auto;">
        <h1 class="text-center mb-4">Обновление статьи</h1>
        <form method="POST" action="{{ url_for('post_update', id=article.id) }}">
            <div class="form-group">
                <label for="title">Заголовок</label>
                <input type="text" class="form-control" value="{{ article.title }}" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="intro">Интро</label>
                <input type="text" class="form-control" value="{{ article.intro }}" id="intro" name="intro" required>
            </div>
            <div class="form-group">
                <label for="text">Текст</label>
                <textarea class="form-control" id="text" name="text" rows="5" required>{{ article.text }}</textarea>
            </div>
            <button type="submit" class="btn btn-warning btn-block">Обновить</button>
        </form>
        <a href="{{ url_for('posts') }}" class="btn btn-secondary btn-block mt-3">Назад к статьям</a>
    </div>
</div>
{% endblock %}
